<h3 class="indigo-text text-darken-3">Game List</h3>

<form action="/games" method="get">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s5 input-field" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
      <input type="text" name="query" id="query" placeholder="Enter Query">
    </div>
  </div>
  <input type="submit" value="Search" class="btn indigo darken-3">
</form>

<form action="/games" method="get">
  <div class="input-field">
    <select name="filter">
      <option value="" disabled selected>Filter By Genre</option>
      <% Game.all_genres.each do |genre| %>
        <option value="<%= genre %>"><%= genre %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Filter" class="btn indigo darken-3">
</form>

<p>Recently Viewed: <%= @game ? @game.title : "Haven't viewed any games." %></p>

<ul>
  <% @games.each do |game| %>
    <li><a href="/games/<%= game.id %>"><%= game.title %></a></li>
  <% end %>
</ul>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>